<a href="https://colab.research.google.com/github/diego40g/data_science_python/blob/numpy/107_dateRange.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
date = pd.date_range(start = '2021-1-1', end = '2021-12-31', freq = '15D')
print(date)

DatetimeIndex(['2021-01-01', '2021-01-16', '2021-01-31', '2021-02-15',
               '2021-03-02', '2021-03-17', '2021-04-01', '2021-04-16',
               '2021-05-01', '2021-05-16', '2021-05-31', '2021-06-15',
               '2021-06-30', '2021-07-15', '2021-07-30', '2021-08-14',
               '2021-08-29', '2021-09-13', '2021-09-28', '2021-10-13',
               '2021-10-28', '2021-11-12', '2021-11-27', '2021-12-12',
               '2021-12-27'],
              dtype='datetime64[ns]', freq='15D')

In [3]:
df = pd.DataFrame(date, columns = ['Date'])
print(df)

         Date
0  2021-01-01
1  2021-01-16
2  2021-01-31
3  2021-02-15
4  2021-03-02
5  2021-03-17
6  2021-04-01
7  2021-04-16
8  2021-05-01
9  2021-05-16
10 2021-05-31
11 2021-06-15
12 2021-06-30
13 2021-07-15
14 2021-07-30
15 2021-08-14
16 2021-08-29
17 2021-09-13
18 2021-09-28
19 2021-10-13
20 2021-10-28
21 2021-11-12
22 2021-11-27
23 2021-12-12
24 2021-12-27

In [4]:
df['Day of Year'] = date.dayofyear
print(df)

         Date  Day of Year
0  2021-01-01            1
1  2021-01-16           16
2  2021-01-31           31
3  2021-02-15           46
4  2021-03-02           61
5  2021-03-17           76
6  2021-04-01           91
7  2021-04-16          106
8  2021-05-01          121
9  2021-05-16          136
10 2021-05-31          151
11 2021-06-15          166
12 2021-06-30          181
13 2021-07-15          196
14 2021-07-30          211
15 2021-08-14          226
16 2021-08-29          241
17 2021-09-13          256
18 2021-09-28          271
19 2021-10-13          286
20 2021-10-28          301
21 2021-11-12          316
22 2021-11-27          331
23 2021-12-12          346
24 2021-12-27          361

In [6]:
df['Month of Year'] = date.month
print(df)

         Date  Day of Year  Month of Year
0  2021-01-01            1              1
1  2021-01-16           16              1
2  2021-01-31           31              1
3  2021-02-15           46              2
4  2021-03-02           61              3
5  2021-03-17           76              3
6  2021-04-01           91              4
7  2021-04-16          106              4
8  2021-05-01          121              5
9  2021-05-16          136              5
10 2021-05-31          151              5
11 2021-06-15          166              6
12 2021-06-30          181              6
13 2021-07-15          196              7
14 2021-07-30          211              7
15 2021-08-14          226              8
16 2021-08-29          241              8
17 2021-09-13          256              9
18 2021-09-28          271              9
19 2021-10-13          286             10
20 2021-10-28          301             10
21 2021-11-12          316             11
22 2021-11-27          331             11
23 2021-12-12          346             12
24 2021-12-27          361             12