<a href="https://colab.research.google.com/github/diego40g/data_science_python/blob/numpy/111_dataFrame19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
days = pd.date_range(start = '2021-1-1', periods = 10)
print(days)

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df = pd.DataFrame(np.arange(1, 31).reshape(10, 3), 
                  columns = list('ABC'),
                  index = days
                 )
print(df)

             A   B   C
2021-01-01   1   2   3
2021-01-02   4   5   6
2021-01-03   7   8   9
2021-01-04  10  11  12
2021-01-05  13  14  15
2021-01-06  16  17  18
2021-01-07  19  20  21
2021-01-08  22  23  24
2021-01-09  25  26  27
2021-01-10  28  29  30

In [ ]:
for row_index, row in df.iterrows():
    print(row_index.strftime('%d/%m/%Y'))
    print('Sum: '+str(row.sum()))
    print()

01/01/2021
Sum: 6

02/01/2021
Sum: 15

03/01/2021
Sum: 24

04/01/2021
Sum: 33

05/01/2021
Sum: 42

06/01/2021
Sum: 51

07/01/2021
Sum: 60

08/01/2021
Sum: 69

09/01/2021
Sum: 78

10/01/2021
Sum: 87