<a href="https://colab.research.google.com/github/diego40g/data_science_python/blob/numpy/241_setManageNum.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
num_set = set([0, 1, 2, 3, 4, 5])
print("Original set elements:")
print(num_set)

Original set elements:
{0, 1, 2, 3, 4, 5}

In [2]:
print("\nRemove 0 from the said set:")
num_set.discard(4)
print(num_set)

Remove 0 from the said set:
{0, 1, 2, 3, 5}

In [3]:
print("\nRemove 5 from the said set:")
num_set.discard(5)
print(num_set)

Remove 5 from the said set:
{0, 1, 2, 3}

In [4]:
print("\nRemove 2 from the said set:")
num_set.discard(5)
print(num_set)

Remove 2 from the said set:
{0, 1, 2, 3}

In [5]:
print("\nRemove 7 from the said set:")
num_set.discard(15)
print(num_set)

Remove 7 from the said set:
{0, 1, 2, 3}