<a href="https://colab.research.google.com/github/diego40g/data_science_python/blob/numpy/246_practiceExercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def contar_pos(m):
    cont=0
    for i in m:
        for j in i:
            if j>0:
                cont=cont+1
    return cont

In [ ]:
contar_pos([[1,-2,3],[-4,5,6],[7,8,-9]])

6

In [ ]:
def mas_denso(lst_anidada):
    densidad=0
    planeta=[]
    for i in lst_anidada:
        if densidad<(i[1]/i[2]):
            planeta=i
            densidad=i[1]/i[2]
    return planeta[0]

In [ ]:
mas_denso([['Marte',1,2],['Tierra',2,3],['Venus',1,3]])

'Tierra'

In [ ]:
def media_columnas(lst_anidada):
    res=[]
    for i in lst_anidada:
        for j in range(len(i)):
            num=i[j]/len(lst_anidada)
            if len(res)<len(i):
               res.append(num)
            else:
               res[j]=res[j]+(num)
    return res

In [ ]:
M2=[[2,3,4],[3,3,3]]
media_columnas(M2)

[2.5, 3.0, 3.5]

In [ ]:
def edad_m_pacientes(lts):
    res=0
    for i in lts:
        res=res+i[2]
    return round(res/len(lts),1)

In [ ]:
paciente=['Puig','c1234',56]
lista=[paciente,['Marti','c3456',39],['Smith','c543',45]]

In [ ]:
edad_m_pacientes(lista)

46.7

In [ ]:

def jugComKm(lst_equipo,x):
    res=[]
    nombre=[]
    media=[]
    cont=0
    for i in lst_equipo:
        media.append(0)
        nombre.append(i[1])
        for j in range(len(i)):
            if i[2]==True:
                if j>3:
                    media[cont]=media[cont]+i[j]
                if (j+1)==len(i) and (len(i)-4)>0:
                    media[cont]=media[cont]/(len(i)-4)
            else:
                media[cont]=-1
        if media[cont]>x:
            res.append(nombre[cont])
        cont=cont+1
        res.sort()
    return res


lst_equipo=[[3,'Pique',True,33,10.2,9.8],
            [4,'Ramos',True,34,11,11.1,9.8,8.5],
            [6,'Koke', True,27],
            [10,'Lionel',False,33,10,11.1,9.5]]

In [ ]:
jugComKm(lst_equipo,1)

['Amos', 'Pique']

In [ ]:
dias =["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]
temp_semanal = {dias:temp for (dias,temp) in zip(dias,temp)}
print(temp_semanal)

{'Sunday': 30.5, 'Monday': 32.6, 'Tuesday': 31.8, 'Wednesday': 33.4, 'Thursday': 29.8, 'Friday': 30.2, 'Saturday': 29.9}

In [ ]:
def f_par(lst):
    valor_res_pares=[]
    res_par=[]
    valor_res_impares=[]
    res_impar=[]
    for i in range(len(lst)):
        if lst[i] not in valor_res_impares:
            if lst[i] % 2:
                valor_res_impares.append(lst[i])
                res_impar.append(0)
            elif lst[i] not in valor_res_pares:
                valor_res_pares.append(lst[i])
                res_par.append(0)
    for i in lst:
        for j in range(len(valor_res_pares)):
            if i == valor_res_pares[j]:
                res_par[j]=res_par[j]+1
                
    for i in lst:
        for j in range(len(valor_res_impares)):
            if i == valor_res_impares[j]:
                res_impar[j]=res_impar[j]+1

    par={valor_res_pares:res_par for (valor_res_pares,res_par) in zip(valor_res_pares,res_par)}
    impar={valor_res_impares:res_impar for (valor_res_impares,res_impar) in zip(valor_res_impares,res_impar)}

    print("Pares: ")
    print(par)
    print("Impares: ")
    print(impar)

In [ ]:
M=[12,19,19,18,18,16,18,13,19,18,12,18,11,20,14,14,20,20,20,16,13,15,19,14,12]
f_par(M)

[12, 19, 19, 18, 18, 16, 18, 13, 19, 18, 12, 18, 11, 20, 14, 14, 20, 20, 20, 16, 13, 15, 19, 14, 12]
Pares: { 12: 3, 18: 5, 16: 2, 20: 4, 14: 3,}
Impares: { 12: 3, 18: 5, 16: 2, 20: 4,}

In [ ]:
M=[12,19,19,18,18,16,18,13,19,18,12,18,11,20,14,14,20,20,20,16,13,15,19,14,12]
f_par(M)

Pares:
{12: 3, 18: 5, 16: 2, 20: 4, 14: 3}
Impares:
{19: 4, 13: 2, 11: 1, 15: 1}

In [ ]:
def TempMaxMin(lst):
  ciudades = {}
  for i in lst:
    temp=[]
    min=100
    max=-100
    for j in range(len(i)):
      if(j>0):
        if(min>i[j]):
          min=i[j]
        if(max<i[j]):
          max=i[j]
    temp.append(max)
    temp.append(min)
    ciudades[i[0]]=temp
    res=sorted(ciudades.items())
  return res

In [ ]:
lst_ciudad=[['Londres',3.4,6.3,10.5,6.8],['Oslo',-3.8,-5.0,5.1,4.2],['Berlin',7.5,4.1,12.3,13.0],['Malaga',14.7,12.3,19.5,18.4]]
TempMaxMin(lst_ciudad)

[('Berlin', [13.0, 4.1]),
 ('Londres', [10.5, 3.4]),
 ('Malga', [19.5, 12.3]),
 ('Oslo', [5.1, -5.0])]

In [ ]:
def PersMayTemp(dPersC, dCiudT):
  res = []
  for nombre in dPersC:
    for ciudad in dCiudT:
      if (ciudad==dPersC[nombre] and dCiudT[ciudad]<0):
        res.append(nombre)
  res.sort()
  return res

In [ ]:
dCi={'Mancherster:':1.1,'Madrid':-8.9,'Gava':4,'Pobla de Segur':-5.6,'Lleida':-3.2,'Elche':2.1,'Burgos':-6.0,'Sant Boi':4.5}
dPe={'Pepe':'Mancherster','Lionel':'Gava','Mike':'Sant Boi','Puyol':'Pobla de Segur','Jaime':'Elche','Sergi':'Lleida','Ernesto':'Madrid','Carlos':'Burgos'}

In [ ]:
PersMayTemp(dPe,dCi)

['Carlos', 'Ernesto', 'Puyol', 'Sergi']

In [ ]:
def lst_hiper(dic,edad):
  res=[]
  for paciente in dic:
    if(edad>dic[paciente][0] and (dic[paciente][1]>=140 or dic[paciente][2]>=90)):
      res.append(paciente)
    res.sort()
  return res

In [ ]:
dpers={'Maria':[40,135,90],'Nuria':[63,141,92],'Jose':[47,110,59],'Luis':[49,146,94],'Oriol':[52,130,89],'Carlos':[65,125,89],'Pepe':[70,130,92]}

In [ ]:
lst_hiper(dpers,70)

['Luis', 'Maria', 'Nuria']

In [ ]:
def nivelKsang(dK,lst):
  res={}
  for nombre in dK:
    if(dK[nombre]<lst[0]):
      res[nombre]='hipokalemia crÃ­tica'
    elif (dK[nombre]<lst[1]):
      res[nombre]='hipokalemia leve'
    if (dK[nombre]>=lst[1] and dK[nombre]<=lst[2]):
      res[nombre]='normal'
    if (dK[nombre]>lst[2] and dK[nombre]<=lst[3]):
      res[nombre]='hiperkalemia moderna'
    if (dK[nombre]>lst[3]):
      res[nombre]='hiperkalemia severa'
  return res

In [ ]:
dK1={'Luis':2.2, 'Carlos':7.0, 'Laia':4.0, 'Mikel': 5.5, 'Jordi': 5.2, 'Anna': 3.6, 'Joe': 7.2}
lst1=[2.0,3.5,5.2,7.0]

In [ ]:
nivelKsang(dK1,lst1)

{'Luis': 'hipokalemia leve',
 'Carlos': 'hiperkalemia moderna',
 'Laia': 'normal',
 'Mikel': 'hiperkalemia moderna',
 'Jordi': 'normal',
 'Anna': 'normal',
 'Joe': 'hiperkalemia severa'}