<a href="https://colab.research.google.com/github/diego40g/data_science_python/blob/numpy/246_enumExample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

from enum import Enum
class Country(Enum):
    Afghanistan = 93
    Albania = 355
    Algeria = 213
    Andorra = 376
    Angola = 244
    Antarctica = 672
for data in Country:
    print('{:15} = {}'.format(data.name, data.value))

Afghanistan     = 93
Albania         = 355
Algeria         = 213
Andorra         = 376
Angola          = 244
Antarctica      = 672