<a href="https://colab.research.google.com/github/diego40g/data_science_python/blob/numpy/70_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:

data = ['a', 'b', 'c', 'd']
serie1 = pd.Series(data)
print(data)
print(serie1)

['a', 'b', 'c', 'd']
0    a
1    b
2    c
3    d
dtype: object

In [ ]:

serie2 = pd.Series(data,index=[10, 11, 12, 13])
print(serie2)

10    a
11    b
12    c
13    d
dtype: object

In [ ]:

serie3 = pd.Series(10,index=[0,1,2,3])
print(serie3)

0    10
1    10
2    10
3    10
dtype: int64

In [ ]:
array = np.arange(10,20,2)
serie4 = pd.Series(array, index=range(1,6), dtype=float)
print(array)
print(serie4)

[10 12 14 16 18]
1    10.0
2    12.0
3    14.0
4    16.0
5    18.0
dtype: float64