<a href="https://colab.research.google.com/github/diego40g/data_science_python/blob/numpy/71_serie2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
data = ['k','w','z','y']
serie1 = pd.Series(data = data)
print(data)
print(serie1)

['k', 'w', 'z', 'y']
0    k
1    w
2    z
3    y
dtype: object

In [ ]:
dic = {'a':10,'b':30,'c':15,'d':12}
serie2 = pd.Series(data = dic)
print(dic)
print(serie2)

{'a': 10, 'b': 30, 'c': 15, 'd': 12}
a    10
b    30
c    15
d    12
dtype: int64

In [ ]:
list1 = serie1.to_list()
list2 = serie2.to_list()
print(list1)
print(list2)

['k', 'w', 'z', 'y']
[10, 30, 15, 12]

In [ ]:

df1 = pd.DataFrame(serie1, columns = ['Letters'])
df2 = pd.DataFrame(serie2, columns = ['Values'])
print(df1)
print(df2)

  Letters
0       k
1       w
2       z
3       y
   Values
a      10
b      30
c      15
d      12