<a href="https://colab.research.google.com/github/diego40g/data_science_python/blob/numpy/74_series5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
data = {
    'ABEV3':12.85,
    'AZUL4':22.55,
    'BTOW3':115.08,
    'RENT3':49.03,
    'JBSS3':24.41,
    }

print(data)

{'ABEV3': 12.85, 'AZUL4': 22.55, 'BTOW3': 115.08, 'RENT3': 49.03, 'JBSS3': 24.41}

In [3]:

series = pd.Series(data)

list_values = series.tolist()

df = pd.DataFrame(series, columns = ['Prices'])

print(series)
print(df)

ABEV3     12.85
AZUL4     22.55
BTOW3    115.08
RENT3     49.03
JBSS3     24.41
dtype: float64
       Prices
ABEV3   12.85
AZUL4   22.55
BTOW3  115.08
RENT3   49.03
JBSS3   24.41

In [4]:

series['RAIL3'] = 18.93
series['JBSS3'] = 21.48
series['SUZB3'] = 48.19
series['MGLU3'] = 25.59
print(series)

ABEV3     12.85
AZUL4     22.55
BTOW3    115.08
RENT3     49.03
JBSS3     21.48
RAIL3     18.93
SUZB3     48.19
MGLU3     25.59
dtype: float64