<a href="https://colab.research.google.com/github/diego40g/data_science_python/blob/numpy/75_serie6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
data = {
    'ABEV3':12.85,
    'AZUL4':22.55,
    'BTOW3':115.08,
    'RENT3':49.03,
    'JBSS3':24.41,
    }

serie = pd.Series(data)

print(serie)

ABEV3     12.85
AZUL4     22.55
BTOW3    115.08
RENT3     49.03
JBSS3     24.41
dtype: float64

In [3]:

serie['PETR4'] = 22.97
serie['NTCO3'] = 50.6
serie['TIMP3'] = 14.82

print(serie)

ABEV3     12.85
AZUL4     22.55
BTOW3    115.08
RENT3     49.03
JBSS3     24.41
PETR4     22.97
NTCO3     50.60
TIMP3     14.82
dtype: float64

In [4]:
serie = serie.append(pd.Series({'PETR4':22.97,'NTCO3':50.6,'TIMP3':14.82}))

print (serie)

ABEV3     12.85
AZUL4     22.55
BTOW3    115.08
RENT3     49.03
JBSS3     24.41
PETR4     22.97
NTCO3     50.60
TIMP3     14.82
PETR4     22.97
NTCO3     50.60
TIMP3     14.82
dtype: float64