<a href="https://colab.research.google.com/github/diego40g/data_science_python/blob/numpy/80_dataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:

data = [10, 22, 3, 11, 17, 22, 9, 4, 29, 31]
print(data)

[10, 22, 3, 11, 17, 22, 9, 4, 29, 31]

In [3]:
df = pd.DataFrame(data = data, columns = ['A'])
print(df)

    A
0  10
1  22
2   3
3  11
4  17
5  22
6   9
7   4
8  29
9  31