<a href="https://colab.research.google.com/github/diego40g/data_science_python/blob/numpy/82_dataFrame3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd

In [9]:
index = ['Product '+str(i) for i in range(1,9)]
print(index)

['Product 1', 'Product 2', 'Product 3', 'Product 4', 'Product 5', 'Product 6', 'Product 7', 'Product 8']

In [10]:
data = {
    'Price': [20.3, 31.2, 44.7, 30.5, 19.8, 11.2, 15.7, 17.3],
    'Unit': [10, 33, 45, 51, 11, 8, 91, 8],
    'Total Cost': [100, 568.7, 205.2, 507.1, 250.12, 55.3, 1579, 130]}
print(data)

{'Price': [20.3, 31.2, 44.7, 30.5, 19.8, 11.2, 15.7, 17.3], 'Unit': [10, 33, 45, 51, 11, 8, 91, 8], 'Total Cost': [100, 568.7, 205.2, 507.1, 250.12, 55.3, 1579, 130]}

In [11]:
df = pd.DataFrame(data, index)
print(df)

           Price  Unit  Total Cost
Product 1   20.3    10      100.00
Product 2   31.2    33      568.70
Product 3   44.7    45      205.20
Product 4   30.5    51      507.10
Product 5   19.8    11      250.12
Product 6   11.2     8       55.30
Product 7   15.7    91     1579.00
Product 8   17.3     8      130.00