<a href="https://colab.research.google.com/github/diego40g/data_science_python/blob/numpy/83_dataframe4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
index = ['Product '+str(i) for i in range(1,9)]
print(index)

['Product 1', 'Product 2', 'Product 3', 'Product 4', 'Product 5', 'Product 6', 'Product 7', 'Product 8']

In [ ]:
data = {
    'Price': [20.3, 31.2, 44.7, 30.5, 19.8, 11.2, 15.7, 17.3],
    'Unit': [10, 33, 45, 51, 11, 8, 91, 8],
    'Total Cost': [100, 568.7, 205.2, 507.1, 250.12, 55.3, 1579, 130]}
print(data)

{'Price': [20.3, 31.2, 44.7, 30.5, 19.8, 11.2, 15.7, 17.3], 'Unit': [10, 33, 45, 51, 11, 8, 91, 8], 'Total Cost': [100, 568.7, 205.2, 507.1, 250.12, 55.3, 1579, 130]}

In [ ]:
df = pd.DataFrame(data, index)
print(df)

           Price  Unit  Total Cost
Product 1   20.3    10      100.00
Product 2   31.2    33      568.70
Product 3   44.7    45      205.20
Product 4   30.5    51      507.10
Product 5   19.8    11      250.12
Product 6   11.2     8       55.30
Product 7   15.7    91     1579.00
Product 8   17.3     8      130.00

In [ ]:

df['Total Revenue'] = df['Price']*df['Unit']
print(df)

           Price  Unit  Total Cost  Total Revenue
Product 1   20.3    10      100.00          203.0
Product 2   31.2    33      568.70         1029.6
Product 3   44.7    45      205.20         2011.5
Product 4   30.5    51      507.10         1555.5
Product 5   19.8    11      250.12          217.8
Product 6   11.2     8       55.30           89.6
Product 7   15.7    91     1579.00         1428.7
Product 8   17.3     8      130.00          138.4

In [ ]:
df['Total Profit'] = df['Total Revenue']-df['Total Cost']
print(df)

           Price  Unit  Total Cost  Total Revenue  Total Profit
Product 1   20.3    10      100.00          203.0        103.00
Product 2   31.2    33      568.70         1029.6        460.90
Product 3   44.7    45      205.20         2011.5       1806.30
Product 4   30.5    51      507.10         1555.5       1048.40
Product 5   19.8    11      250.12          217.8        -32.32
Product 6   11.2     8       55.30           89.6         34.30
Product 7   15.7    91     1579.00         1428.7       -150.30
Product 8   17.3     8      130.00          138.4          8.40