<a href="https://colab.research.google.com/github/diego40g/data_science_python/blob/numpy/86_dataFrame7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
data = {
    'Customers': ['Adrian', 'Carl', 'Eliza', 'Albert', 'Fred', 'Oswald', 'Grace', 'John'],
    'Age': [36, 39, 33, 32, 27, 35, 28, 18],
    'Rating': [6.2, 2.17, 6.56, 8.32, 9.15, 1.34, 0.57, 1.66] 
}
print(data)

{'Customers': ['Adrian', 'Carl', 'Eliza', 'Albert', 'Fred', 'Oswald', 'Grace', 'John'], 'Age': [36, 39, 33, 32, 27, 35, 28, 18], 'Rating': [6.2, 2.17, 6.56, 8.32, 9.15, 1.34, 0.57, 1.66]}

In [3]:
df = pd.DataFrame(data, index = range(1,9))
print(df.head())
print(df.head(n = 3))
print(df.tail())
print(df.tail(n = 2))

  Customers  Age  Rating
1    Adrian   36    6.20
2      Carl   39    2.17
3     Eliza   33    6.56
4    Albert   32    8.32
5      Fred   27    9.15
  Customers  Age  Rating
1    Adrian   36    6.20
2      Carl   39    2.17
3     Eliza   33    6.56
  Customers  Age  Rating
4    Albert   32    8.32
5      Fred   27    9.15
6    Oswald   35    1.34
7     Grace   28    0.57
8      John   18    1.66
  Customers  Age  Rating
7     Grace   28    0.57
8      John   18    1.66