<a href="https://colab.research.google.com/github/diego40g/data_science_python/blob/numpy/87_dataFrame8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
names = ['Oswald', 'Richard', 'Victor', 'Walter', 'Ronald', 'Rebecca', 'Maurice', 'Margaret']
print(names)

['Oswald', 'Richard', 'Victor', 'Walter', 'Ronald', 'Rebecca', 'Maurice', 'Margaret']

In [4]:
scores = [7, 8 , 4.7, 10, 9.5, 6, 5, 7.7]
print(scores)

[7, 8, 4.7, 10, 9.5, 6, 5, 7.7]

In [5]:
results = ['Yes' if score>=7 else 'No' for score in scores]
print(results)

['Yes', 'Yes', 'No', 'Yes', 'Yes', 'No', 'No', 'Yes']

In [6]:
data = {
    'Name': names,
    'Score': scores,
    'Result': results 
}
print(data)

{'Name': ['Oswald', 'Richard', 'Victor', 'Walter', 'Ronald', 'Rebecca', 'Maurice', 'Margaret'], 'Score': [7, 8, 4.7, 10, 9.5, 6, 5, 7.7], 'Result': ['Yes', 'Yes', 'No', 'Yes', 'Yes', 'No', 'No', 'Yes']}

In [7]:
df = pd.DataFrame(data)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    8 non-null      object
 1   Score   8 non-null      float64
 2   Result  8 non-null      object
dtypes: float64(1), object(2)
memory usage: 320.0+ bytes
None