<a href="https://colab.research.google.com/github/diego40g/data_science_python/blob/numpy/88_dataFrame9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
names = ['Oswald', 'Richard', 'Victor', 'Walter', 'Ronald', 'Rebecca', 'Maurice', 'Margaret']
print(names)

['Oswald', 'Richard', 'Victor', 'Walter', 'Ronald', 'Rebecca', 'Maurice', 'Margaret']

In [3]:
scores = [7, 8 , 4.7, 10, 9.5, 6, 5, 7.7]
print(scores)

[7, 8, 4.7, 10, 9.5, 6, 5, 7.7]

In [4]:
results = ['Yes' if score>=7 else 'No' for score in scores]
print(results)

['Yes', 'Yes', 'No', 'Yes', 'Yes', 'No', 'No', 'Yes']

In [5]:
data = {
    'Name': names,
    'Score': scores,
    'Result': results 
}
print(data)

{'Name': ['Oswald', 'Richard', 'Victor', 'Walter', 'Ronald', 'Rebecca', 'Maurice', 'Margaret'], 'Score': [7, 8, 4.7, 10, 9.5, 6, 5, 7.7], 'Result': ['Yes', 'Yes', 'No', 'Yes', 'Yes', 'No', 'No', 'Yes']}

In [6]:
df = pd.DataFrame(data)
approved_students = df[df['Result'] == 'Yes']
 
print('Summary:'.center(100, ' '))
print(df.describe())
print(f'Highest score: \n{df.max()}')
print()
print(f'Lowest score:\n{df.min()}')

                                              Summary:
          Score
count   8.00000
mean    7.23750
std     1.94858
min     4.70000
25%     5.75000
50%     7.35000
75%     8.37500
max    10.00000
Highest score:
Name      Walter
Score         10
Result       Yes
dtype: object

Lowest score:
Name      Margaret
Score          4.7
Result          No
dtype: object