<a href="https://colab.research.google.com/github/diego40g/data_science_python/blob/numpy/90_dataFrame11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy

In [2]:
dic = {
    'A': [11, 3, 7, 99, 100, 130, 150],
    'B': [1.2, 0.5, 1.2, 3.2, 0.9, 1.7, 9.5],
    'C': ['A', 'Z', 'W', 'K', 'A', 'Z', 'Z'],
    'D': [True, False, True, False, True, False, True],    
    'E': ['A', 'A', 'B', 'B', 'A', 'A', 'B'],
    'F': [True, True, False, False, True, False, True],}
print(dic)

{'A': [11, 3, 7, 99, 100, 130, 150], 'B': [1.2, 0.5, 1.2, 3.2, 0.9, 1.7, 9.5], 'C': ['A', 'Z', 'W', 'K', 'A', 'Z', 'Z'], 'D': [True, False, True, False, True, False, True], 'E': ['A', 'A', 'B', 'B', 'A', 'A', 'B'], 'F': [True, True, False, False, True, False, True]}

In [3]:
index = list(range(10, 71, 10))
print(index)

[10, 20, 30, 40, 50, 60, 70]

In [4]:
df = pd.DataFrame(data = dic, index = index)
df[['C','E']] = df[['C', 'E']].astype('category')  #converting the data type of columns 'C' and 'E'
print('_'*100)
print(f'Dtype of each column: \n{df.dtypes}')
print('_'*100)
print(f"The columns from the category type: \n{df.select_dtypes('category')}")
print('_'*100)
print(f'The columns from the bool type: \n{df.select_dtypes(bool)}')
print('_'*100)
print(f'Numeric columns: \n{df.select_dtypes(include = [float, int])}')
print('_'*100)
print('Descriptive statistics'.center(100, ' '))
print(df.describe(include = 'all').T)
print('_'*100)

____________________________________________________________________________________________________
Dtype of each column:
A       int64
B     float64
C    category
D        bool
E    category
F        bool
dtype: object
____________________________________________________________________________________________________
The columns from the category type:
    C  E
10  A  A
20  Z  A
30  W  B
40  K  B
50  A  A
60  Z  A
70  Z  B
____________________________________________________________________________________________________
The columns from the bool type:
        D      F
10   True   True
20  False   True
30   True  False
40  False  False
50   True   True
60  False  False
70   True   True
____________________________________________________________________________________________________
Numeric columns:
      A    B
10   11  1.2
20    3  0.5
30    7  1.2
40   99  3.2
50  100  0.9
60  130  1.7
70  150  9.5
____________________________________________________________________________________________________
                                       Descriptive statistics
  count unique   top freq     mean      std  min   25%  50%   75%  max
A     7    NaN   NaN  NaN  71.4286  62.8035    3     9   99   115  150
B     7    NaN   NaN  NaN      2.6  3.16228  0.5  1.05  1.2  2.45  9.5
C     7      4     Z    3      NaN      NaN  NaN   NaN  NaN   NaN  NaN
D     7      2  True    4      NaN      NaN  NaN   NaN  NaN   NaN  NaN
E     7      2     A    4      NaN      NaN  NaN   NaN  NaN   NaN  NaN
F     7      2  True    4      NaN      NaN  NaN   NaN  NaN   NaN  NaN
____________________________________________________________________________________________________