<a href="https://colab.research.google.com/github/diego40g/data_science_python/blob/numpy/92_dataFrame12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
scores = [7, 8 , 4.7, 10, 9.5, 6, 5, 7.7]
print(scores)

[7, 8, 4.7, 10, 9.5, 6, 5, 7.7]

In [ ]:
data = {
    'Name': ['Carl', 'Margaret', 'Maurice', 'Oscar', 'Peter', 'Oswald', 'Paul', 'Ronald'],
    'Score': [7, 8 , 4.7, 10, 9.5, 6, 5, 7.7],
    'Result': ['Yes' if score>=7 else 'No' for score in scores]
}
print(data)

{'Name': ['Carl', 'Margaret', 'Maurice', 'Oscar', 'Peter', 'Oswald', 'Paul', 'Ronald'], 'Score': [7, 8, 4.7, 10, 9.5, 6, 5, 7.7], 'Result': ['Yes', 'Yes', 'No', 'Yes', 'Yes', 'No', 'No', 'Yes']}

In [ ]:
df = pd.DataFrame(data)
print(df)

       Name  Score Result
0      Carl    7.0    Yes
1  Margaret    8.0    Yes
2   Maurice    4.7     No
3     Oscar   10.0    Yes
4     Peter    9.5    Yes
5    Oswald    6.0     No
6      Paul    5.0     No
7    Ronald    7.7    Yes

In [ ]:
names = df.Name  #a)
print(names)

0        Carl
1    Margaret
2     Maurice
3       Oscar
4       Peter
5      Oswald
6        Paul
7      Ronald
Name: Name, dtype: object

In [ ]:
final_result = df['Result']  #b)
print(final_result)

0    Yes
1    Yes
2     No
3    Yes
4    Yes
5     No
6     No
7    Yes
Name: Result, dtype: object

In [ ]:
print(df[['Name','Result']])  #c)
print()
print(df.iloc[6:7])  #d)
print()
print(df.iloc[3:6])  #e)

       Name Result
0      Carl    Yes
1  Margaret    Yes
2   Maurice     No
3     Oscar    Yes
4     Peter    Yes
5    Oswald     No
6      Paul     No
7    Ronald    Yes

   Name  Score Result
6  Paul    5.0     No

     Name  Score Result
3   Oscar   10.0    Yes
4   Peter    9.5    Yes
5  Oswald    6.0     No