<a href="https://colab.research.google.com/github/diego40g/data_science_python/blob/numpy/93_dataFrame13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
scores = [7, 8 , 4.7, 10, 9.5, 6, 5, 7.7]
print(scores)

[7, 8, 4.7, 10, 9.5, 6, 5, 7.7]

In [3]:
data = {
    'Name': ['Carl', 'Margaret', 'Maurice', 'Oscar', 'Peter', 'Oswald', 'Paul', 'Ronald'],
    'Score': [7, 8 , 4.7, 10, 9.5, 6, 5, 7.7],
    'Result': ['Yes' if score>=7 else 'No' for score in scores]
}
print(data)

{'Name': ['Carl', 'Margaret', 'Maurice', 'Oscar', 'Peter', 'Oswald', 'Paul', 'Ronald'], 'Score': [7, 8, 4.7, 10, 9.5, 6, 5, 7.7], 'Result': ['Yes', 'Yes', 'No', 'Yes', 'Yes', 'No', 'No', 'Yes']}

In [4]:
df = pd.DataFrame(data)
print(df)

       Name  Score Result
0      Carl    7.0    Yes
1  Margaret    8.0    Yes
2   Maurice    4.7     No
3     Oscar   10.0    Yes
4     Peter    9.5    Yes
5    Oswald    6.0     No
6      Paul    5.0     No
7    Ronald    7.7    Yes

In [5]:
print(df.Name[1:4].tolist())  #a)
print(df.Name.loc[[0,2,7]].tolist())  #b)
print(df.Name.iloc[0:1][0])  #c)
print(df.Score.iloc[-1])  #d)

['Margaret', 'Maurice', 'Oscar']
['Carl', 'Maurice', 'Ronald']
Carl
7.7