<a href="https://colab.research.google.com/github/diego40g/data_science_python/blob/numpy/95_dataFrame15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
data = {
    'A': ['z', 'k' ,'m'],
    'B': ['j', 'n' , 'o'],
    'C': ['o', 'p', 'k'],
    'Z': ['i', 'j' ,'k'],
    'W': ['p', 'k', 'u']
}
print(data)

{'A': ['z', 'k', 'm'], 'B': ['j', 'n', 'o'], 'C': ['o', 'p', 'k'], 'Z': ['i', 'j', 'k'], 'W': ['p', 'k', 'u']}

In [3]:
df = pd.DataFrame(data, range(1,4))
print(df)
df.drop(labels = ['B', 'Z', 'W'], axis = 1, inplace = True)
print(df)

   A  B  C  Z  W
1  z  j  o  i  p
2  k  n  p  j  k
3  m  o  k  k  u
   A  C
1  z  o
2  k  p
3  m  k