<a href="https://colab.research.google.com/github/diego40g/data_science_python/blob/numpy/97_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
series = pd.Series(
    np.random.randint(100,150,4), 
    index = ['Year 1', 'Year 2', 'Year 3', 'Year 4'])
print(series)

Year 1    123
Year 2    111
Year 3    139
Year 4    117
dtype: int64

In [3]:
series.drop(index = 'Year 1', inplace = True)
series.drop(index = ['Year 2', 'Year 4'], inplace = True)
print(series)

Year 3    139
dtype: int64