<a href="https://colab.research.google.com/github/diego40g/data_science_python/blob/numpy/Untitled24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import sqlite3

In [5]:
con = sqlite3.connect("tutorial.db")

In [6]:
cur = con.cursor()

In [7]:
cur.execute("CREATE TABLE movie(title, year, score)")

In [9]:
res = cur.execute("SELECT name FROM sqlite_master")

In [10]:
res.fetchone()

('movie',)

In [11]:
cur.execute("""
    INSERT INTO movie VALUES
        ('Monty Python and the Holy Grail', 1975, 8.2),
        ('And Now for Something Completely Different', 1971, 7.5)
""")